[Unit]
Description=Configuard instance script
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wg-instance
ExecStop=/usr/bin/wg-quick down wg0

[Install]
WantedBy=multi-user.target
