<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>Label</key>
  <string>com.wireguard</string>
  <key>Program</key>
  <string>PREFIX/bin/wg-workstation</string>
  <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>PREFIX/bin:/sbin:/bin:/usr/bin</string>
    </dict>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
